.mechenat{
    position: $ab;
    border: $bebe;
    width: 16%;
    top: 365%;
    margin-left: $center;
}
.stan{
    color: $goldye;
    font-size: $size;
    font-weight: $small;
}
.mehe{
    font-size: $size;
    font-weight: $small;
}
.c{
    position: $ab;
    color: $cl;
    top: 380%;
    font-size: $ii;
    margin-left: $fff;
}
.i{
    position: $ab;
    color: $cl;
    top: 385%;
    font-size: $ii;
    margin-left: $fff;
}
.t{
    position: $ab;
    color: $cl;
    top: 390%;
    font-weight: 400;
    font-size: $ii;
    margin-left: $fff;
}
.y{
    position: $ab;
    color: $cl;
    top: 395%;
    font-weight: 400;
    font-size: $ii;
    margin-left: $fff;
}
.aboutme{
    border-collapse: separate;
    border-spacing: 30px 30px;
    border: $bebe;
    position: $ab;
    width: 50%;
    top: 380%;
    margin-left: $center;
}
.en{
    cursor: pointer;
    background-color: #616161;
    border: 1px solid #989898;
    color: #989898;
    padding: 10px;
    text-align: left;
}
.text3{
    position: $ab;
    color: #989898;
    font-size: $ii;
    top: 398%;
    margin-left: 42%;
}
.yra{
    position: $ab;
    top: 410%;
    width: 100%;
}
.yra2{
    position: $ab;
    font-size: $ii;
    top: 412%;
    color: #989898;
}
@media(max-width: 1080px){
    .mechenat{
        position: $ab;
        border: $bebe;
        width: 16%;
        top: 370%;
        margin-left: $center;
    }
    .stan{
        color: $goldye;
        font-size: $size2;
        font-weight: $small;
    }
    .mehe{
        font-size: $size2;
        font-weight: $small;
    }
    .c{
        position: $ab;
        color: $cl;
        top: 380%;
        font-size: $i;
        margin-left: $fff;
    }
    .i{
        position: $ab;
        color: $cl;
        top: 385%;
        font-size: $i;
        margin-left: $fff;
    }
    .t{
        position: $ab;
        color: $cl;
        top: 390%;
        font-weight: 400;
        font-size: $i;
        margin-left: $fff;
    }
    .y{
        position: $ab;
        color: $cl;
        top: 395%;
        font-weight: 400;
        font-size: $i;
        margin-left: $fff;
    }
    .aboutme{
        border-collapse: separate;
        border-spacing: 30px 30px;
        border: $bebe;
        position: $ab;
        width: 40%;
        top: 375%;
        margin-left: $center;
    }
    .en{
        cursor: pointer;
        background-color: #616161;
        border: 1px solid #989898;
        color: #989898;
        padding: 10px;
        text-align: left;
    }
    .text3{
        position: $ab;
        color: #989898;
        font-size: $i;
        top: 398%;
        margin-left: 42%;
    }
    .yra{
        position: $ab;
        top: 410%;
        width: 100%;
    }
    .yra2{
        position: $ab;
        font-size: $i;
        top: 412%;
        color: #989898;
    }
}
@media(max-width: 720px){
    .mechenat{
        position: $ab;
        border: $bebe;
        width: 16%;
        top: 370%;
        margin-left: $center;
    }
    .stan{
        color: $goldye;
        font-size: 12px;
        font-weight: $small;
    }
    .mehe{
        font-size: 12px;
        font-weight: $small;
    }
    .c{
        position: $ab;
        color: $cl;
        top: 380%;
        font-size: $i;
        margin-left: $fff;
    }
    .i{
        position: $ab;
        color: $cl;
        top: 385%;
        font-size: $i;
        margin-left: $fff;
    }
    .t{
        position: $ab;
        color: $cl;
        top: 390%;
        font-weight: 400;
        font-size: $i;
        margin-left: $fff;
    }
    .y{
        position: $ab;
        color: $cl;
        top: 395%;
        font-weight: 400;
        font-size: $i;
        margin-left: $fff;
    }
    .aboutme{
        border-collapse: separate;
        border-spacing: 10px 10px;
        border: $bebe;
        position: $ab;
        width: 40%;
        top: 378%;
        margin-left: $center;
    }
    .en{
        cursor: pointer;
        background-color: #616161;
        border: 1px solid #989898;
        color: #989898;
        padding: 7px;
        text-align: left;
        font-size: $little;
    }
    .text3{
        position: $ab;
        color: #989898;
        font-size: $i;
        top: 395%;
        margin-left: 42%;
    }
    .yra{
        position: $ab;
        top: 410%;
        width: 100%;
    }
    .yra2{
        position: $ab;
        font-size: $i;
        top: 412%;
        color: #989898;
    }
}
@media(max-width: 1080px){
    .mechenat{
        position: $ab;
        border: $bebe;
        width: 16%;
        top: 370%;
        margin-left: $center;
    }
    .stan{
        color: $goldye;
        font-size: $size2;
        font-weight: $small;
    }
    .mehe{
        font-size: $size2;
        font-weight: $small;
    }
    .c{
        position: $ab;
        color: $cl;
        top: 380%;
        font-size: $i;
        margin-left: $fff;
    }
    .i{
        position: $ab;
        color: $cl;
        top: 385%;
        font-size: $i;
        margin-left: $fff;
    }
    .t{
        position: $ab;
        color: $cl;
        top: 390%;
        font-weight: 400;
        font-size: $i;
        margin-left: $fff;
    }
    .y{
        position: $ab;
        color: $cl;
        top: 395%;
        font-weight: 400;
        font-size: $i;
        margin-left: $fff;
    }
    .aboutme{
        border-collapse: separate;
        border-spacing: 30px 30px;
        border: $bebe;
        position: $ab;
        width: 40%;
        top: 375%;
        margin-left: $center;
    }
    .en{
        cursor: pointer;
        background-color: #616161;
        border: 1px solid #989898;
        color: #989898;
        padding: 10px;
        text-align: left;
    }
    .text3{
        position: $ab;
        color: #989898;
        font-size: $i;
        top: 398%;
        margin-left: 42%;
    }
    .yra{
        position: $ab;
        top: 410%;
        width: 100%;
    }
    .yra2{
        position: $ab;
        font-size: $i;
        top: 412%;
        color: #989898;
    }
}
@media(max-width: 480px){
    .mechenat{
        position: $ab;
        border: $bebe;
        width: 16%;
        top: 370%;
        margin-left: $center;
    }
    .stan{
        color: $goldye;
        font-size: 12px;
        font-weight: $small;
    }
    .mehe{
        font-size: 12px;
        font-weight: $small;
    }
    .c{
        position: $ab;
        color: $cl;
        top: 380%;
        font-size: $little;
        margin-left: $fff;
    }
    .i{
        position: $ab;
        color: $cl;
        top: 385%;
        font-size: $little;
        margin-left: $fff;
    }
    .t{
        position: $ab;
        color: $cl;
        top: 390%;
        font-weight: 400;
        font-size: $little;
        margin-left: $fff;
    }
    .y{
        position: $ab;
        color: $cl;
        top: 395%;
        font-weight: 400;
        font-size: $little;
        margin-left: $fff;
    }
    .aboutme{
        border-collapse: separate;
        border-spacing: 7px 7px;
        border: $bebe;
        position: $ab;
        width: 40%;
        top: 378%;
        margin-left: $center;
    }
    .en{
        cursor: pointer;
        background-color: #616161;
        border: 1px solid #989898;
        color: #989898;
        padding: 5px;
        text-align: left;
        font-size: $little;
    }
    .text3{
        position: $ab;
        color: #989898;
        font-size: $little;
        top: 399%;
        margin-left: 42%;
    }
    .yra{
        position: $ab;
        top: 410%;
        width: 100%;
    }
    .yra2{
        position: $ab;
        font-size: $little;
        top: 412%;
        color: #989898;
    }
}